@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient( to top,  #49A06D, #5F2C82);
    }

    section#login {
        width: 80vw;
    }

    main > section#login > div#imagens{
        float: left;
        width: 30%;
        height: 100%;

    }

    main > section#login > div#formulario{
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient( to top,  #49A06D, #5F2C82);
    }

    section#login {
        width: 950px;
    }

    main > section#login > div#imagens{
        float: right;
        width: 50%;
        height: 100%;
    }

    main > section#login > div#formulario{
        float: left;
        width: 50%;
    }

    main > section > div > h1{
        font-size: 2em;
    }
    
    main > section > div > p{
        font-size: 1.2em;
    }
    
}